
/*Menu de accesibilidad*/
#Acc1{
  top: 50%;
  left: 95%;
  position: fixed;
  z-index: 1010;
  transition: left 0.2s ease;
}

.Accesibility{
  background-color: #8a8a8a7e;
  border: 0;
  border-radius: 50px;
  padding: 8px;
  transition: color 0.5s ease, background-color 0.5s ease;
  color: white;
  top: 45%;
  left: 90%;
}

body.active .Accesibility{
  background-color: #eeededa8;
  color: black;
}

.activo {
  display: none;
  transition: display 0.5s ease;
}
.activo.active{
  display: block;
  padding: 10px;
  background-color: #8a8a8a7e;
  position: fixed;
  top: 45%;
  left: 87.7%;
  transition: background-color 0.5s ease, color 0.5s ease, display 0.5s ease;;
}

.help{
  position: fixed;
  display: flex;
  top: 12%;
  right: 7%;
  background-color: #ffd54d7b;
  z-index: 1000;
  text-align: right;
  justify-content: right;
  width: 20%;
  transition: opacity 0.3s ease;
}

.icon-row{
  display: flex;
  align-items: right;
  justify-content: space-between;
  gap: 10px;
}