/* Contenedor del contenido principal */
.contenido { 
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  transition: margin-left 0.5s ease, width 0.5s ease;
}

/* Cuando el menú está activo, el contenido se desplaza */
.body.menu-active .contenido {
           /* espacio para el menú */
  width: 100%;    /* se ajusta al ancho restante */
}

/* Contenedor flexible de posts */
.dual {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start; /* alineados a la izquierda */
}

/* Cada publicación individual */
.posts {
  flex: 1 1 calc(50% - 20px); /* dos columnas */
  /*max-width: calc(50% - 20px);*/
  max-width: 38%;
  box-sizing: border-box;
  padding: 7px;
  border: 1px solid #aaaaac;
  border-radius: 20px;
  box-shadow: 4px 4px 10px #aaaaac;
  background-color: white;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* En pantallas pequeñas o móviles */
@media screen and (max-width: 768px) {
  .contenido {
    margin-left: 0;
    width: 100%;
  }

  .posts {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.check{
  display: flex;

}

/*animaciones de iconos*/
.int.animate3 {
  transform: translateY(-50%);
  transition: transform 0.2s, ease color 0.2s ease;
}

.accept.active .yes, .upload.active .yes{
  color: green;
}

.int.animate4 {
  transform: translateY(50%);
  transition: transform 0.2s ease color 0.2s ease;
}

.reject.active .no{
  color: red;
}

.posts.fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}